<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Display A Map</string>
		<key>description</key>
		<string>Display a map with an imagery basemap.</string>
		<key>viewName</key>
		<string>DisplayMapView</string>
	</dict>
</array>
</plist>
